*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header-container {
  background-color: rgb(37, 36, 36);
  color: white;
  padding: 15px 70px 15px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-container ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.header-container ul li span {
  vertical-align: middle;
}

.header-container ul li p {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}

.input-container {
  position: relative;
}

.input-container input[type="text"] {
  padding: 8px 30px;
  border-radius: 20px; 
  border: none;
  background-color: #f5f5f5; 
  color: #333; 
  font-size: 14px;
  outline: none; 
  width: 320px;
}

.input-container input[type="text"]::placeholder {
  color: #999; 
}

.input-container .search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #666;
  cursor: pointer;
}
.yt-icon{
  font-size: 28px;
  margin-top: 5px;
  margin-right: 5px;
  color: rgb(243, 12, 12);
}
.yt-title{
  font-size: 26px;
}
/* SIDEBAR */
aside{
  width: 15.5%;
  height: 22.5rem;
}

aside > ul {
  width: 100%;
  padding: 20px;
}

aside  > ul > li {
  color:white;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
  padding: 8px;
  border-radius: 10px;
}

aside  > ul > li > svg {
  color: rgb(245, 7, 7); 
  margin-right: 10px;
  font-size: 24px;
}

aside  > ul > li:hover{
  background-color: rgb(167, 165, 165);
  transform: scale(1.1); 
  color:white;
  cursor: pointer;
}


aside  > ul > li > span {
  font-size: 18px;
  cursor: pointer;
}
aside ul{
  padding-top: 30px;
  background-color: rgb(37, 36, 36);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
/* Main component */
.main-content{
  background-color: rgb(37, 36, 36);
  width: 100%;
  height: 100vh;
}
.main{
  width: 100%;
  height: 100%;
  display: flex;
}
/* VIDEOCART */
.video-card{
  background-color: orange;
  width: 225px;
  height: 280px;
  margin: 28px 20px;
}
.video-cart p {
  color: white;
}
.video-cart-title{
  color: rgb(196, 193, 193);
}
.video-card img{
  width: 100%;
}

.current-videos{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}



