*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header-container {
  background-color: rgb(37, 36, 36);
  color: white;
  padding: 15px 70px 15px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-container ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.header-container ul li span {
  vertical-align: middle;
}

.header-container ul li p {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}

.input-container {
  position: relative;
}

.input-container input[type="text"] {
  padding: 8px 30px;
  border-radius: 20px; 
  border: none;
  background-color: #f5f5f5; 
  color: #333; 
  font-size: 14px;
  outline: none; 
  width: 320px;
}

.input-container input[type="text"]::placeholder {
  color: #999; 
}

.input-container .search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #666;
  cursor: pointer;
}
.yt-icon{
  font-size: 28px;
  margin-top: 5px;
  margin-right: 5px;
  color: rgb(243, 12, 12);
}
.yt-title{
  font-size: 26px;
}
/* SIDEBAR */
aside{
  width: 15.5%;
  height: 22.5rem;
}

aside > ul {
  width: 100%;
  padding: 20px;
}

aside  > ul > li {
  color:white;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
  padding: 8px;
  border-radius: 10px;
}

aside  > ul > li > svg {
  color: rgb(245, 7, 7); 
  margin-right: 10px;
  font-size: 24px;
}

aside  > ul > li:hover{
  background-color: rgb(167, 165, 165);
  transform: scale(1.1); 
  color:white;
  cursor: pointer;
}


aside  > ul > li > span {
  font-size: 18px;
  cursor: pointer;
}
aside ul{
  padding-top: 30px;
  background-color: rgb(37, 36, 36);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
/* Main component */
.main-content{
  background-color: rgb(37, 36, 36);
  width: 100%;
  height: 100vh;
}
.main{
  width: 100%;
  height: 100%;
  display: flex;
}
/* VIDEOCART */
.video-card{
  width: 280px;
  height: 280px;
}
.video-details{
  background-color: rgb(48, 47, 47);
  min-height:10rem;
  padding: 4px;
  margin: 6% 0;
}
.video-cart p {
  color: white;
}
.video-cart-title{
  color: rgb(196, 193, 193);
  margin-top: 4%;
  margin-bottom: 2%;
}
.video-card img{
  width: 100%;
}
.video-details-date,
h3{
  color: rgb(247, 244, 244);
}
.current-videos{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

}
h1{
  color: white;
}
/* SINGLE VIDEO */
.single-video-container{
  display: flex;
  width: 100%;
  height: 5000px;
  padding: 0 10px;
  color: rgb(248, 247, 247);
  background-color: rgb(37, 36, 36);
}
.video-description{
  width: 75%;
  /* height: 400px; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
.comments{
  background-color: rgb(37, 36, 36);
}
.video-description-details{
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  margin-top: 8px;
}
.video-description-details span{
 padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.video-description div h2{
  margin: 8px 0px;
}

.comment{
  width: 70%;
  display: flex;
  margin-bottom: 20px;
}
.comment img{
  width: 47.5px;
  height: 47.5px;
  border-radius: 50%;
  margin-right: 10px;
}
.comment-details .author{
 color: rgb(216, 216, 216);
 margin-bottom: 8px;
}
.timestamp{
  margin-left: 12px;
  color: rgb(248, 247, 247);
}
.suggestion-videos{
  width: 25%;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.channel-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.channel-img{
  height: 160px;
  width: 200px;
  border-radius: 50%;
}
.title-channel{
  text-align: center;
  color: white;
  margin: 10px 0;
}
.description-channel{
  color: white;
}
.details-channel{
  padding: 2px;
}
/* Channel */

.channel-container {
  margin: 20px;
  padding: 20px;
  background-color: #f0f0f0;
}

.subscribe-text {
  font-size: 20px;
  font-weight: bold;
}

.channel-title {
  font-size: 24px;
  color: #333;
  margin:10px 0px;
}

.channel-description {
  font-size: 16px;
  color: #666;
}

.suggested-videos-title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-top: 20px;
  text-align: center;
}

.suggested-videos-list {
  list-style-type: none;
  padding: 0;
}

.suggested-video-item {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.video-thumbnail {
  width: 120px;
  height: 90px;
  margin-right: 10px;
}

.video-title {
  font-size: 16px;
  color: #333;
}

.no-suggested-videos {
  font-size: 16px;
  color: #666;
}
